[submodule "IzzyEngine/Dependancies/glew"]
    path = IzzyEngine/Dependancies/glew
    url = https://github.com/Perlmint/glew-cmake
    branch = master
[submodule "IzzyEngine/Dependancies/glfw"]
    path = IzzyEngine/Dependancies/glfw
    url = https://github.com/glfw/glfw
    branch = master
